<section class="gallery">
  <div class="container">
    <div class="gallery-container">
      <!-- <ul class="gallery-list">
                <li class="gallery-item">
                    <div class="gallery-card">
                        <img src="/src/images/Creyhound-film.jpg" width="395" alt="Creyhound">
                        <h3 class="film-title">Creyhound</h3>
                        <span class="film-genres">Drama, Action</span>|<span class="film-year">2020</span>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-card">
                        <img src="/src/images/Creyhound-film.jpg" width="395" alt="Creyhound">
                        <h3 class="film-title">Creyhound</h3>
                        <span class="film-genres">Drama, Action</span>|<span class="film-year">2020</span>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-card">
                        <img src="/src/images/Creyhound-film.jpg" width="395" alt="Creyhound">
                        <h3 class="film-title">Creyhound</h3>
                        <span class="film-genres">Drama, Action</span>|<span class="film-year">2020</span>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-card">
                        <img src="/src/images/Creyhound-film.jpg" width="395" alt="Creyhound">
                        <h3 class="film-title">Creyhound</h3>
                        <span class="film-genres">Drama, Action</span>|<span class="film-year">2020</span>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-card">
                        <img src="/src/images/Creyhound-film.jpg" width="395" alt="Creyhound">
                        <h3 class="film-title">Creyhound</h3>
                        <span class="film-genres">Drama, Action</span>|<span class="film-year">2020</span>
                    </div>
                </li>
                <li class="gallery-item">
                    <div class="gallery-card">
                        <img src="/src/images/Creyhound-film.jpg" width="395" alt="Creyhound">
                        <h3 class="film-title">Creyhound</h3>
                        <span class="film-genres">Drama, Action</span>|<span class="film-year">2020</span>
                    </div>
                </li>
            </ul> -->
    </div>
  </div>
</section>
