<div class="backdrop-team is-hidden-team" data-team-modal>
   <div class="modal-team" >
       <button type="button" class="modal-team-close" data-team-modal-close>
        <svg width="14" height="14">
          <use href="/src/images/svg-sprite.svg#close" class="'icon-close-team"></use>
        </svg>
       </button>

          <ul class="team-list">
            <li class="team-list-item">

                <picture>
                    <source srcset="/src/images/team-modal/desctop/moskalets-desc.jpg" media="(min-width: 1200px)">
                    <source srcset="/src/images/team-modal/tablet/moskalets-tab.jpg" media="(min-width: 768px)">
                    <source srcset="/src/images/team-modal/mobail/moskalets-mob.jpg" media="(min-width: 767px)">
                    <img class="team-list-photo" src="/src/images/team-modal/mobail/moskalets-mob.jpg" alt="Moskalets Oleksandr" width="250" height="250">
                 </picture>
                
                <div class="team-list-info">
                    <h2 class="team-list-name">Олександр<br> Москалець</h2>
                    <p class="team-list-position">Team Lead</p>
                       <ul class="team-list-social">
                            <li class="team-social-link">
                                <a href="https://github.com/MoskaletsOleksandr" target="_blank" rel="noopener noreferrer">
                                     <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                                </a>
                            </li>
                            <li class="team-social-link">
                                <a href="https://www.linkedin.com/in/oleksandr-moskalets-41a54b23b" target="_blank" rel="noopener noreferrer">
                                     <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                                </a>
                            </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <picture>
                    <source srcset="/src/images/team-modal/desctop/byelyaieva-desc.jpg" media="(min-width: 1200px)">
                    <source srcset="/src/images/team-modal/tablet/byelyaieva-tab.jpg" media="(min-width: 768px)">
                    <source srcset="/src/images/team-modal/mobail/byelyaieva-mob.jpg" media="(min-width: 767px)">
                    <img class="team-list-photo" src="/src/images/team-modal/mobail/byelyaieva-mob.jpg" alt="Bielyaieva Olena" width="250" height="250">
                </picture>
                
                <div class="team-list-info">
                    <h2 class="team-list-name">Олена<br> Бєляєва</h2>
                    <p class="team-list-position">Scrum Master</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/helenbyelyayeva" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com/in/helen-byelyayeva-326779234" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <picture>
                    <source srcset="/src/images/team-modal/desctop/denisuk-desc.jpg" media="(min-width: 1200px)">
                    <source srcset="/src/images/team-modal/tablet/denisuk-tab.jpg" media="(min-width: 768px)">
                    <source srcset="/src/images/team-modal/mobail/denisuk-mob.jpg" media="(min-width: 767px)">
                    <img class="team-list-photo" src="/src/images/team-modal/mobail/denisuk-mob.jpg" alt="Denisuk Denis" width="250" height="250">
                </picture>

                <div class="team-list-info">
                    <h2 class="team-list-name">Денис<br> Денисюк</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/denya5111" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                
                <picture>
                    <source srcset="/src/images/team-modal/desctop/petrenkо-desc.jpg" media="(min-width: 1200px)">
                    <source srcset="/src/images/team-modal/tablet/petrenko-tab.jpg" media="(min-width: 768px)">
                    <source srcset="/src/images/team-modal/mobail/petrenko-mob.jpg" media="(min-width: 767px)">
                    <img class="team-list-photo" src="/src/images/team-modal/mobail/petrenko-mob.jpg" alt="Petrenko Iryna" width="250" height="250">
                </picture>

                <div class="team-list-info">
                    <h2 class="team-list-name">Ірина<br> Петренко</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/IrynaPetr" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com/in/irynapetrenko03190621/" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">

                <picture>
                    <source srcset="/src/images/team-modal/desctop/kalashnikova-desc.jpg" media="(min-width: 1200px)">
                    <source srcset="/src/images/team-modal/tablet/kalashnikova-tab.jpg" media="(min-width: 768px)">
                    <source srcset="/src/images/team-modal/mobail/kalashnikova-mob.jpg" media="(min-width: 767px)">
                    <img class="team-list-photo" src="/src/images/team-modal/mobail/kalashnikova-mob.jpg" alt="Kalashnikova Iryna" width="250" height="250">
                </picture>

                <div class="team-list-info">
                    <h2 class="team-list-name">Ірина<br> Калашнікова</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/iKalashnikova" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                
                <picture>
                    <source srcset="/src/images/team-modal/desctop/kazmechuk-desc.jpg" media="(min-width: 1200px)">
                    <source srcset="/src/images/team-modal/tablet/kazmechuk-tab.jpg" media="(min-width: 768px)">
                    <source srcset="/src/images/team-modal/mobail/kazmechuk-mob.jpg" media="(min-width: 767px)">
                    <img class="team-list-photo" src="/src/images/team-modal/mobail/kazmechuk-mob.jpg" alt="Kazmechuk Oleksandr" width="250" height="250">
                </picture>
                <div class="team-list-info">
                    <h2 class="team-list-name">Олександр<br> Казьмерчук</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/Oleksandr-Kharkiv" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <picture>
                    <source srcset="/src/images/team-modal/desctop/prysiazhniuk-desc.jpg" media="(min-width: 1200px)">
                    <source srcset="/src/images/team-modal/tablet/prysiazhniuk-tab.jpg" media="(min-width: 768px)">
                    <source srcset="/src/images/team-modal/mobail/prysiazhniuk-mob.jpg" media="(min-width: 767px)">
                    <img class="team-list-photo" src="/src/images/team-modal/mobail/prysiazhniuk-mob.jpg" alt="Prysiazhniuk Alina" width="250" height="250">
                </picture>

                <div class="team-list-info">
                    <h2 class="team-list-name">Аліна<br> Присяжнюк</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/AlinaPrysiazhniuk" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <picture>
                    <source srcset="/src/images/team-modal/desctop/pinchuk-desc.jpg" media="(min-width: 1200px)">
                    <source srcset="/src/images/team-modal/tablet/pinchuk-tab.jpg" media="(min-width: 768px)">
                    <source srcset="/src/images/team-modal/mobail/pinchuk-mob.jpg" media="(min-width: 767px)">
                    <img class="team-list-photo" src="/src/images/team-modal/mobail/pinchuk-mob.jpg" alt="Pinchuk Igor" width="250" height="250">
                </picture>

                <div class="team-list-info">
                    <h2 class="team-list-name">Ігор<br> Пінчук</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/IhorPinchuk" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <picture>
                    <source srcset="/src/images/team-modal/desctop/sobashevska-desc.jpg" media="(min-width: 1200px)">
                    <source srcset="/src/images/team-modal/tablet/sobashevska-tab.jpg" media="(min-width: 768px)">
                    <source srcset="/src/images/team-modal/mobail/sobashevska-mob.jpg" media="(min-width: 767px)">
                    <img class="team-list-photo" src="/src/images/team-modal/mobail/sobashevska-mob.jpg" alt="Sobashevska Maryana" width="250" height="250">
                </picture>

                <div class="team-list-info">
                    <h2 class="team-list-name">Мар'яна<br> Собашевська</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>


            <li class="team-list-item">

                <picture>
                    <source srcset="/src/images/team-modal/desctop/myronets-desc.jpg" media="(min-width: 1200px)">
                    <source srcset="/src/images/team-modal/tablet/myronets-tab.jpg" media="(min-width: 768px)">
                    <source srcset="/src/images/team-modal/mobail/myronets-mob.jpg" media="(min-width: 767px)">
                    <img class="team-list-photo" src="/src/images/team-modal/mobail/myronets-mob.jpg" alt="Myronets Oleksandr" width="250" height="250">
                </picture>

                <div class="team-list-info">
                    <h2 class="team-list-name">Олександр<br> Миронець</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/AleksMyronets" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>
              </ul>
   </div>
</div>