<div class="backdrop-team is-hidden-team" data-team-modal>
   <div class="modal-team" >
       <button type="button" class="modal-team-close" data-team-modal-close>
        <svg width="14" height="14">
          <use href="/src/images/svg-sprite.svg#close" class="'icon-close-team"></use>
        </svg>
       </button>

          <ul class="team-list">
            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/Moskalets.jpg" alt="Moskalets Oleksandr">
                <div class="team-list-info">
                    <h2 class="team-list-name">Олександр<br> Москалець</h2>
                    <p class="team-list-position">Team Lead</p>
                       <ul class="team-list-social">
                            <li class="team-social-link">
                                <a href="https://github.com/MoskaletsOleksandr" target="_blank" rel="noopener noreferrer">
                                     <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                                </a>
                            </li>
                            <li class="team-social-link">
                                <a href="https://www.linkedin.com/in/oleksandr-moskalets-41a54b23b" target="_blank" rel="noopener noreferrer">
                                     <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                                </a>
                            </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/Bielyaieva.jpg" alt="Bielyaieva Olena">
                <div class="team-list-info">
                    <h2 class="team-list-name">Олена<br> Бєляєва</h2>
                    <p class="team-list-position">Scrum Master</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/helenbyelyayeva" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com/in/helen-byelyayeva-326779234" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/image.jpg" alt="Denisuk Denis">
                <div class="team-list-info">
                    <h2 class="team-list-name">Денис<br> Денисюк</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/denya5111" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/Petrenko.jpg" alt="Petrenko Iryna">
                <div class="team-list-info">
                    <h2 class="team-list-name">Ірина<br> Петренко</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/IrynaPetr" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com/in/irynapetrenko03190621/" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/Kalashnikova.jpg" alt="Kalashnikova Iryna">
                <div class="team-list-info">
                    <h2 class="team-list-name">Ірина<br> Калашнікова</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/iKalashnikova" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/Kazmechuk.jpg" alt="Kazmechuk Oleksandr">
                <div class="team-list-info">
                    <h2 class="team-list-name">Олександр<br> Казьмерчук</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/Oleksandr-Kharkiv" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/Prysiazhniuk.jpg" alt="Prysiazhniuk Alina">
                <div class="team-list-info">
                    <h2 class="team-list-name">Аліна<br> Присяжнюк</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/AlinaPrysiazhniuk" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/Pinchuk.jpg" alt="Pinchuk Igor">
                <div class="team-list-info">
                    <h2 class="team-list-name">Ігор<br> Пінчук</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/IhorPinchuk" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/Sobashevska.jpg" alt="Sobashevska Maryana">
                <div class="team-list-info">
                    <h2 class="team-list-name">Мар'яна<br> Собашевська</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/image.jpg" alt="Prishchenko Matviy">
                <div class="team-list-info">
                    <h2 class="team-list-name">Матвій<br> Прищенко</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/Myronets.jpg" alt="Myronets Oleksandr">
                <div class="team-list-info">
                    <h2 class="team-list-name">Олександр<br> Миронець</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com/AleksMyronets" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>
            
            <li class="team-list-item">
                <img class="team-list-photo" src="/src/images/team-modal/image.jpg" alt="Trefel Sergiy">
                <div class="team-list-info">
                    <h2 class="team-list-name">Сергій<br> Трефель</h2>
                    <p class="team-list-position">Developer</p>
                       <ul class="team-list-social">
                        <li class="team-social-link">
                          <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-github"></use></svg>
                          </a>
                      </li>
                      <li class="team-social-link">
                          <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                               <svg class="team-list-icon"><use href="/src/images/svg-sprite.svg#icon-linkedin"></use></svg>
                          </a>
                      </li>
                       </ul>
                </div>
            </li>

          </ul>
   </div>
</div>