.btn-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--btn-up-bg-color);
  border: var(--btn-up-border-color);
  cursor: pointer;
  opacity: 1;
  transition: background-color var(--animation), transform var(--animation),
    opacity var(--animation);
  transform: translateY(0%);

  @include tablet {
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
  }

  @include desktop {
    right: 50px;
    bottom: 50px;
    width: 75px;
    height: 75px;
  }

  &:hover {
    background-color: var(--btn-up-hover-bg-color);
    border: 2px solid var(--btn-up-border-color);
  }
}

.btn-up_hide {
  opacity: 0;
  transform: translateY(150%);
}

.btn-up-icon {
  fill: var(--btn-up-fill-color);
  width: 40px;
  height: 40px;

  @include tablet {
    width: 50px;
    height: 50px;
  }

  @include desktop {
    width: 75px;
    height: 75px;
  }

  .btn-up:hover & {
    fill: var(--btn-up-hover-fill-color);
  }
}
