.heart-svg {
  animation-name: heartScale;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-left: 10px;
  margin-right: 10px;
}

.team-link {
  text-decoration: none;
  color: inherit;
  align-items: center;
  display: flex;
}


.footer {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.footer-text {
  display: block;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
 text-align: center;
 align-items: center;
}

@keyframes heartScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}




