.heart-svg {
  animation-name: heartScale;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-left: 10px;
  margin-right: 10px;
}

.team-link {
  text-decoration: none;
  color: inherit;
  align-items: center;
  display: flex;
  transition: all .25s cubic-bezier(.4,0,.2,1);
  position: absolute;
width: 122px;
height: 19px;
left: 759px;
top: 5199px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;

color: #545454;
}


.footer {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

}

.footer-text {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #545454;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
 text-align: center;
 align-items: center;
}

@keyframes heartScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}




