.gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.gallery-item {
    flex-basis: calc((100% - 2*16px)/3);
    margin-bottom: 32px;
    transition: box-shadow 250 ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    
        &:hover,
        &:focus {
            background-color: var(--buttons-library-hover-bg-color);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            ;
        }
}

.gallery-img {
    width: 395px;
    height: 574px;
}

.gallery-container-img {
    position: relative;
}

.trailer-button {
    width: 30%;
    height: 25px;
    position: absolute;
    top: 20px;
    left: 250px;
    right: 0;
    margin: auto;
    border-radius: 10px;
    border: none;
    color: var(--logo-text-color);
    background-color: var(--buttons-library-text-color);
}

.film-title {
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--primary-text-color);
}

.gallery-film {
    margin-top: 12px;
    ;
}

.film-genres,
.film-year {
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #B92F2C;
}