.gallery-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    flex-direction: row;
    align-items: unset;
    row-gap: 32px;
    column-gap: 32px;
    }

  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    row-gap: 32px;
    column-gap: 16px;
    }
}

.gallery-item {
  width: 280px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.25);
    transition: 250ms;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
    &:hover,
    &:focus {
        box-shadow: 1px 8px 20px grey;
        transition: box-shadow 0.3s ease-in;
      }
    }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 32px) / 3);
    &:hover,
    &:focus {
        box-shadow: 1px 8px 20px grey;
        transition: box-shadow 0.3s ease-in;
      }
    }

  &:hover,
  &:focus {
    box-shadow: 1px 8px 20px grey;
    transition: box-shadow 0.3s ease-in;
    }

}

.gallery-img {
  border-radius: 5px;
  @media screen and (min-width: 768px) {
      border-radius: 5px;
    }
  
    @media screen and (min-width: 1280px) {
      border-radius: 5px;
    }
}

.gallery-container-img {
  position: relative;
}

.trailer-button {
  width: 35%;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 120px;
  right: 0;
  margin: auto;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--logo-text-color);
  background-color: var(--buttons-library-text-color);

  @media screen and (min-width: 768px) {
      left: 150px;
    }
  
    @media screen and (min-width: 1280px) {
      left: 200px;

    }
}

.film-title {
  margin-top: 10px;
  padding-left: 5px;
  font-family: var(--main-font-family);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
      margin-top: 8px;
      font-size: 12px;
      line-height: 16px;
    }
  
    @media screen and (min-width: 1280px) {
      margin-top: 12px;
      font-size: 20px;
      line-height: 24px;
    }
}

.film-genres {
  padding-left: 5px;
}

.film-genres,
.film-year {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: var(--second-text-color);
  font-size: 12px;
  @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 16px;
    }
  
    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 24px;
    }
}
