.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.gallery-item {
  flex-basis: calc((100% - 2 * 16px) / 3);
  margin-bottom: 32px;
}

.gallery-img {
  width: 395px;
  height: 574px;
}

.gallery-container-img {
  position: relative;
}

.trailer-button {
  width: 30%;
  height: 25px;
  position: absolute;
  top: 20px;
  left: 250px;
  right: 0;
  margin: auto;
  border-radius: 10px;
  border: none;
  color: var(--logo-text-color);
  background-color: var(--buttons-library-text-color);
}

.film-title {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--primary-text-color);
}

.gallery-film {
  margin-top: 12px;
}

.film-genres,
.film-year {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #b92f2c;
}
