a {
  text-decoration: none;
}

//Хедер
// .header {
//   width: 100vw;
// }

.section-header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  position: relative;
  height: 460px;
  width: 280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 65.37%
    ),
    url(/src/images/header/header-bg-mob.jpg);
  @include retina {
    background-image: url(/src/images/header/header-bg-mob-2x.jpg);
  }

  @include tablet {
    height: 222px;
    width: 702px;
    background-image: url(/src/images/header/header-tablet.jpg);
    // @include retina {
    //   background-image: url(/src/images/header/header-desktop-2x.jpg);
    // }
  }
  @include desktop {
    height: 316px;
    width: 1216px;
    background-image: url(/src/images/header/header-desktop.jpg);
    @include retina {
      background-image: url(/src/images/header/header-desktop-2x.jpg);
    }
  }
}

//Форма пошуку
.search {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: absolute;
  top: 16px;
  left: 34px;
  gap: 8px;

  @media screen and (min-width: 768px) {
    // flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    //flex-wrap: nowrap;
    gap: 4px;
    left: 48px;
    align-items: center;
  }

  @include desktop {
    flex-wrap: nowrap;
    left: 64px;
    gap: 8px;
  }
}

.form-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 252px;
  height: 34px;

  @include tablet {
    width: 165px;
    height: 38px;
  }

  @include desktop {
    width: 187px;
    height: 42px;
  }
}

.input-search {
  padding-left: 16px;
  font-size: 12px;
  height: 34px;
  width: 100%;
  border: 0;
  border-radius: 100px;

  @include tablet {
    height: 38px;
    font-size: 14px;
  }
  @include desktop {
    height: 42px;
    font-size: 14px;
  }
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 16px;
  border: 0;
  cursor: pointer;
  background-color: var(--buttons-header-bg-color); //видалити потім
}

// .icon-film {
//   fill: red;
// }

//кнопки Home та My library
.navigation {
  margin-bottom: 8px;

  @include tablet {
    margin-bottom: 0;
    margin-right: 70px;
  }

  @include desktop {
    margin-bottom: 0;
    margin-right: 470px;
  }
}

.menu-list {
  display: flex;
  gap: 4px;

  @include desktop {
    gap: 8px;
  }
}

.menu-link {
  text-align: center;
  background-color: var(--buttons-header-bg-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  padding: 10px 26px;
  border-radius: 100px;
  color: var(--buttons-header-text-color);
  cursor: pointer;

  @include tablet {
    padding: 12px 24px;
  }

  @include desktop {
    padding: 14px 32px;
  }
}

.menu-link:hover {
  color: var(--accent-text-color);
  background-color: var(--buttons-header-hover-bg-color);
}

//логотип filmoteka
.header-logo {
  position: absolute;
  bottom: 20px;
  left: 77px;
  @include tablet {
    bottom: 16px;
    left: 48px;
  }
  @include desktop {
    bottom: 32px;
    left: 64px;
  }
}

.logo-list {
  display: flex;
  align-items: center;
  gap: 8px;

  @include desktop {
    gap: 16px;
  }
}

.header-text-logo {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.17;
  color: var(--logo-text-color);

  @include tablet {
    font-size: 40px;
  }
  @include desktop {
    font-size: 64px;
  }
}

.icon-film {
  @include tablet {
    width: 40px;
    height: 40px;
  }

  @include desktop {
    width: 59px;
    height: 59px;
  }
}
