.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity var(--animation), visibility var(--animation);

  z-index: 2;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  .modal {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }
}

.modal {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%) scale(1);
  opacity: 1;
  transition: opacity var(--animation), transform var(--animation);
  
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 440px;
  padding: 48px 20px 40px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--primary-text-color);
  background-color: var(--buttons-modal-bg-color);
  
  @include tablet {
    width: 704px;
    padding: 40px 72px 64px 36px;
  }
  @include desktop {
    width: 806px;
    padding: 40px 12px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: transparent;
  background-color: inherit;
  cursor: pointer;
  transition: fill var(--animation), background-color var(--animation);
  &:hover,
  &:focus {
    background-color: var(--buttons-modal-text-color);
    fill: var(--accent-text-color);
  }
  &:active {
    fill: var(--primary-text-color);
  }
}
.js-film-info {
  @include tablet {
    display: flex;
    column-gap: 68px;
  }
  @include desktop {
    column-gap: 16px;
  }
}
.js-film-info__thumb {
  margin-bottom: 20px;
  object-fit: cover;
  @include tablet {
    margin-bottom: 0;
    width: 264px;
    height: 374px;
  }
  @include desktop {
    width: 375px;
    height: 478px;
  }
}

.js-film-info__poster {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.js-film-info__content {
  @include tablet {
    width: 264px;
  }
  @include desktop {
    width: 391px;
  }
}
.js-film-info__name {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-transform: uppercase;
  @include desktop {
    font-size: 30px;
    line-height: calc(35 / 30);
  }
}
.js-film-info__table-thumb {
  margin-bottom: 20px;
  border-spacing: 0;
}
.js-film-info__item {
  display: block;
  margin-bottom: 8px;
}
.js-film-info__item:last-child {
  margin-bottom: 0;
}
.js-film-info__title,
.slash {
  width: 108px;
  line-height: calc(16 / 12);
  color: var(--description-film-text-color);
}
.js-film-info__vote {
  padding: 1px 9px;
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--accent-text-color);
  background-color: var(--vote-bg-color);
}
.js-film-info__votes {
  padding: 1px 4px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: var(--votes-bg-color);
}
.js-film-info__original-title {
  line-height: calc(16 / 12);
  text-transform: uppercase;
}
.js-film-info__genre {
  line-height: calc(16 / 12);
}

.js-film-info__description-title {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: calc(16 / 12);
  text-transform: uppercase;
}

.js-film-info__description-text {
  margin-bottom: 20px;
  line-height: calc(20 / 12);
}
.js-film-info__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  @include tablet {
    justify-content: flex-start;
    gap: 8px;
  }
}
.js-film-info__btn {
  padding: 10px 10px;

  text-transform: uppercase;
  border-radius: 100px;
  border: var(--buttons-modal-border);
  background-color: var(--buttons-modal-bg-color);
  color: var(--buttons-modal-text-color);
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation);
  @include tablet {
    padding: 12px 14px;
  }
  @include desktop {
    padding: 14px 24px;
  }
  &:hover,
  &:focus {
    color: var(--buttons-modal-bg-color);
    background-color: var(--buttons-modal-text-color);
  }
}
.active-btn {
  border-radius: 100px;
  border-color: transparent;
  box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
  color: var(--buttons-modal-bg-color);
  background-color: var(--buttons-modal-text-color);
}
