    .nothing-img {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: 10px;
    }

    .nothing-text {
        text-align: center;
        // margin-top: 10px;
        font-family: sans-serif;

    }