#pagination {
    flex-shrink: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .tui-page-btn {
      border: none;
      line-height: 1.2px;
      font-weight: 500;
      color: #000;
      &:hover {
        background-color: white;
      }
      @media (min-width: 768px) {
        font-size: 14px;
      }
    }
     .tui-is-selected {
      width: 25px;
      height: 25px;
      display: inline-flex;
      background-color: gold;
      color: white;
      border-radius: 5px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      vertical-align: middle;
      &:hover {
        background-color: gold;
      }
      @media (min-width: 768px) {
        width: 40px;
        height: 40px;
      }
    }
    .tui-ico-first,
    .tui-ico-last {
      margin-top: 8px;
    }
    .tui-ico-first {
      @media (min-width: 768px) {
        margin-right: 10px;
      }
    }
    .tui-ico-last {
      @media (min-width: 768px) {
        margin-left: 10px;
      }
    }
    .tui-prev {
      margin-top: 16px;
      margin-right: 5px;
      @media (min-width: 768px) {
        margin-right: 10px;
      }
    }
    .tui-next {
      margin-top: 16px;
      margin-left: 5px;
      @media (min-width: 768px) {
        margin-left: 10px;
      }
    }
 
 
  }
 