.backdrop-team {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity var(--animation), visibility var(--animation);

  z-index: 2;

  width: 100%;
  height: 100%;
  background-color: var(--backdrop-team);
  overflow: auto;
}

.is-hidden-team {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  .modal-team {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }
}

.team-list-photo {
  width: 120px;
  border: 1px solid var(--team-border);
  border-radius: 4px;
}

.team-list-social {
  display: inline-flex;
  gap: 30px;
  flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
}

.modal-team {
  position: absolute;
  width: 90%;
  // max-width: 800px;
  transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear;
    top: 50%;
    left: 50%;
    border-radius: 4px;
  background-color: var(--bg-modal-team);
  padding: 20px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}

.modal-team-close {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  display: flex;
  top: 15px;
  right: 15px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out;
  &:hover,
  &:focus {
    background-color: var(--color-focus-team);
    transform: scale(1.05);
  }
}

.modal-team-close {

}

.team-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
}

.team-list-info {
  align-items: center;
  text-align: center;
  padding: 5px;
}
.team-item {

  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.team-list-item {
  border: 1px solid var(--team-border);
  padding: 4px;
  box-shadow: 10px 7px 5px var(--team-shedov);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: var(--accent-text-color);
  border-radius: 4px;
  color: var(--footer-text-color);
  transition: transform 0.3s ease-in-out;
  &:hover,
  &:focus {
    background-color: var(--color-focus-team);
    transform: scale(1.05);
  }
}


.team-img {

  margin-right: 10px;
  border-radius: 50%;
}

.team-desc-container {

  flex-grow: 1;
}

.team-list-position {

  margin-bottom: 5px;
  font-size: 14;
  color: var(--position-team);
}

.team-list-name {
  margin-bottom: 5px;
  font-size: 14;
  font-weight: 500;
}


.team-list-icon {
  width: 20px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  fill: #1e193a;
  transition: transform 0.3s ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
}

.about-team-btn {
 
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}


